@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin: 0 auto;
    padding: 0 auto;
}

/* <!-- This is gonna be header main site for SDU-Store --> */
header{
    display: flex;
    background-color: #020294;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 85px;
    z-index: 3;
    flex-direction: row;
}

.main_logo{
    display: flex;
    padding: 10px;
    padding-left: 30px;
    background-color: #020294;
    flex-direction: row;
}

.main_logo .main_logo_sdustore{
    height: 45px;
    flex-direction: row;
}

.home_logo{
    display: flex;
    background-color: #020294;
    margin: 10px 20px 50px 20px;
    cursor: pointer;
    flex-direction: row;
}

.header_title{
    display: flex;
    padding: 20px 90px 20px 10px;
    flex-direction: row;
}

.search_button{
    background:#020294;
    margin: 0px 10px;
    padding:0 10px;
    flex-direction: row;
}

.basket_button{
    background:#020294;
    margin: 0px 10px;
    flex-direction: row;
}

.sdu_store p{
    margin-top: 8px;
    flex-direction: row;
}

.sdu_store{
    padding-left: 5px;
    font-family: 'Podkova',serif;
    font-size: 40px;
    color:antiquewhite;
    flex-direction: row;
}

/* HERE GONNA BE A MAIN CONTENT */
.main_content{
    padding: 40px;
    background-image: url("./images/images/bs.png");;
    background-size: 7%;
    height:800px;
}

.content{
    margin:60px 4.5%;
    background-color: rgb(255, 255, 255);
    height:800px;
}

#h1{
    color:#020294;
    font-family: 'Podkova',serif;
    font-size: 500%;
    padding-top:120px;
    text-align:center;
}

ul, ol {
    list-style: none;
    flex-direction: row;
}

a {
    text-decoration: none;
    flex-direction: row;
}

a:hover{
    color: rgb(0, 255, 76);
    flex-direction: row;
}

.footer{
    background:rgb(3, 106, 232);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(255, 255, 255);
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
/* MOBILE ADAPTATION  */
@media(max-width:870px){
    #h1{
        font-size: 400%;
    }
    .footer{
        text-align:center;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer .row a i{
        margin:0% 3%;
        }
}

@media (max-width:720px){
    .footer{
    text-align:center;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:center;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    #h1{
        font-size: 400%;
    }
    .sdu_store{
        font-size: 23px;
    }
    .sdu_store p{
        margin-top: 8px;
    }
    .main_logo_sdustore{
        height:40px;
        margin-right: 20px;
    }
    .header{
        height:50px;
    }
    .sidebar{
        top:80px;
        width:250px;
    }
}

@media(max-width:650px){
    .footer{
        text-align:center;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        #h1{
            font-size: 400%;
        }
        .sdu_store{
            font-size: 23px;
        }
        .sdu_store p{
            margin-top: 8px;
        }
        .main_logo_sdustore{
            height:40px;
            margin-right: 20px;
        }
        .header{
            height:50px;
        }
        .sidebar{
            top:80px;
            width:250px;
        }
}

@media(max-width:600px){
    .footer{
        text-align:center;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        #h1{
            font-size: 400%;
        }
        .sdu_store{
            font-size: 23px;
        }
        .sdu_store p{
            margin-top: 8px;
        }
        .main_logo_sdustore{
            height:40px;
            margin-right: 20px;
        }
        .header{
            height:50px;
        }
        .sidebar{
            top:80px;
            width:250px;
        }
}

@media(max-width:400px) {
    .footer{
        text-align:center;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        #h1{
            font-size: 400%;
        }
        .sdu_store{
            font-size: 23px;
        }
        .sdu_store p{
            margin-top: 8px;
        }
        .main_logo_sdustore{
            height:40px;
            margin-right: 20px;
        }
        .header{
            height:50px;
        }
        .sidebar{
            top:80px;
            width:250px;
        }
}

@media(max-width: 200px) {
    .footer{
        text-align:center;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        #h1{
            font-size: 400%;
        }
        .sdu_store{
            font-size: 23px;
        }
        .sdu_store p{
            margin-top: 8px;
        }
        .main_logo_sdustore{
            height:40px;
            margin-right: 20px;
        }
        .header{
            height:50px;
        }
        .sidebar{
            top:80px;
            width:250px;
        }
}
